// для скрытия vue элементов до загрузки
[v-cloak] { display: none !important; }

.overflow-hidden{
    overflow: hidden;
}
.hidden{
    display: none !important;
}
.highlight { 
    background-color: cl(primary);
    color: cl(white);
 }